* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

html {
    height: 100%;
}

body {
    background-color: rgb(255, 229, 189);
    position: relative;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header-wrapper {
    text-align: center;
    padding-top: 5vh;
}

.game-score-wrapper {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.game-score-title {
    font-size: 24px;
    line-height: 36px;
}

.game-score-user {
    font-size: 24px;
}

.main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
}

.main-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area {
    width: 400px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.game-box {
    width: 100px;
    height: 100px;
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(160, 86, 86);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    transition-duration: 400ms;
}

.main-FAQ {
    position: absolute;
    left: 0;
    top: 50%;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.rs_school_js_icon {
    width: 100px;
    transition-duration: 300ms;
}

.rs_school_js_icon:hover {
    transform: scale(1.2);
}

.made_year {
    font-size: 24px;
    line-height: 36px;
    transition-duration: 300ms;
}

.made_year:hover {
    transform: scale(1.2);
}

.link-github {
    text-decoration: none;
    transition-duration: 300ms;
}

.link-github:hover {
    transform: scale(1.2);
}

.github_name {
    font-size: 24px;
    line-height: 36px;
    position: relative;
    color: #000;
    transition-duration: 300ms;
}

.github_name::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url('../icon/github-mark.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.value-2 {
   background-color: #90ffc0;
   color: #000; 
}

.value-4 {
    background-color: #f2ff79;
    color: #000; 
 }

 .value-8 {
    background-color: #85e079;
    color: #000; 
 }

 .value-16 {
    background-color: #314258;
    color: #fff; 
 }

 .value-32 {
    background-color: #7e2721;
    color: #fff; 
 }

 .value-64 {
    background-color: #7b217e;
    color: #fff; 
 }

 .value-128 {
    background-color: #463dbe;
    color: #fff; 
 }

 .value-256 {
    background-color: #4b2424;
    color: #fff; 
 }

 .value-512 {
    background-color: #533ec7;
    color: #fff; 
 }

 .value-1024 {
    background-color: #a00000;
    color: #fff; 
 }

 .value-2048 {
    background-color: #000000;
    color: #fff; 
 }

 .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    display: none;
 }

 .modal.active {
    display: block;
 }

 .modal-game_over-wrapp {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    margin: 20% auto;
    position: relative;
 }

 .modal-game_over-close_btn {
    position: absolute;
    top: 10px;
    right: 20px;
    transform: scale(1.5);
    transition-duration: 600ms;
    cursor: pointer;
 }

 .modal-game_over-close_btn:hover {
    transform: rotate3d(1, 1, 0, 180deg) scale(1.5);
 }

 .modal-game_over-title {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    margin-top: 50px;
 }

 .modal-game_over-score {
    text-align: center;
    font-size: 24px;
 }

 .modal-game_over-restart_btn {
    width: 150px;
    height: 30px;
    display: block;
    margin: 15px auto;
    background-color: inherit;
    border: 1px dashed #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* взято из https://cssgradient.io/ */
    background: radial-gradient(circle, rgba(255,247,165,1) 25%, rgba(148,187,233,1) 100%);
 }

 
@keyframes restartBtn {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.modal-game_over-restart_btn:hover {
    animation-name: restartBtn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.modal-game_over-restart_btn:active {
    background-color: rgb(255, 229, 189);
}
 