* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    height: 10vh;
}

.main-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area {
    width: 400px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.game-box {
    width: 100px;
    height: 100px;
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(255, 252, 252);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.rs_school_js_icon {
    width: 100px;
}

.github_mark {
    width: 50px;
    height: 50px;
}

.github_name {
    font-size: 32px;
    line-height: 48px;
}

