@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    width: 1440px;
    margin: 0 auto;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-wrapped-nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px 0;
}

.header-wrapped-nav-h1 {
    text-align: center;
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-left: 20px;
}

.header-ul {
    list-style: none;
    display: flex;
    margin-right: 58px;
}

.header-ul-li {
    margin-right: 30px;
}

.header-ul-li-a {
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    text-decoration: none;
    transition-duration: 300ms;
}

.header-ul-li-a:hover {
    opacity: 50%;
    transition-duration: 300ms;
}

.header-ul-li-img {
    width: 28px;
    height: 28px;
    padding-top: 11px;
}

.header-welcome {
    background-image: url('../img/headerFix.jpg');
    background-size: 100% 600px;
    height: 600px;
    background-repeat: no-repeat;
}

.header-welcome-p-wrapped {
    padding: 220px 0 0 40px;
    width: 350px;
}

.header-welcome-paragraph {
    text-align: center;
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}


.main-about {
    height: 837px;
}

.title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.title::after {
    content: "";
    height: 1px;
    width: 50px;
    top: 60px;
    right: 694px;
    background: #0C0C0E;
    position: absolute;
}

.main-about-description {
    margin-top: 45px;
    text-align: center;
}

.main-about-img {
    width: 450px;
    height: 560px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.main-about-img_1 {
    margin-left: 120px;
}

.main-about-img_2 {
    margin-left: 20px;
}

.main-about-img_3 {
    margin-left: 20px;
}

.main-about-circle {
    width: 68px;
    height: 16px;
    margin: 40px auto 0px;
    display: flex;
    justify-content: space-between;
}

.main-about-circle_1 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #BB945F;
}

.main-about-circle_2 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.main-about-circle_3 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.main-favorites-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    margin-left: 20px;
}


.main-favorites-input {
    accent-color: #000;
    height: 17px;
    width: 17px;
    margin: 40px 20px 0px 90px;
    transition-duration: 300ms;
}

.main-favorites-input + span {
    transition-duration: 300ms;
}

.main-favorites-input:hover + span {
    opacity: 50%;
    transition-duration: 300ms;
}

.main-favorites-input:checked + span {
    font-weight: 700;
    transition-duration: 300ms;
    opacity: 100%;
}


.main-favorites-input_first {
    margin-left: 20px;
}

.main-favorites-staff_picks-wrapp {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    margin-right: 40px;
}

.main-favorites-staff_picks {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
}

.main-favorites-staff_picks-title {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0 20px 20px;
    position: relative;
}

.main-favorites-staff_picks-title::after {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    background: #BB945F;
    top: 40px;
    left: 0px;
}

.main-favorites-staff_picks-book_name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}

.main-favorites-staff_picks-book_author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.main-favorites-staff_picks-book_description {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    width: 355px;
}

.main-favorites-staff_picks-book_buy {
    list-style: none;
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    position: absolute;
    bottom: 15px;
    transition-duration: 500ms;
}

.main-favorites-staff_picks-book_buy:hover {
    transform: scale(1.3);
    background: #BB945F;
}

.main-favorites-staff_picks-book_buy:active {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    transition-duration: 200ms;
}

.main-favorites-staff_picks-book_image {
    position: absolute;
    bottom: -1px;
    right: -40px;
    width: 200px;
    height: 300px;
}

.main-favorites-staff_picks-book_buy_4 {
    list-style: none;
    width: 75px;
    height: 30px;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #BB945F;
    position: absolute;
    bottom: 15px;
    transition-duration: 500ms;
}

.main-favorites-staff_picks-book_buy_4:hover {
    transform: scale(1.3);
}

.main-coffee_shop-description {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 61px;
}

.main-coffee_shop-price-title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 40px;
}

.main-coffee_shop-price-wrapp {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 40px;
}

.main-coffee_shop-price-product-wrapp {
    display: flex;
}

.main-coffee_shop-price-product_name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 40px 0;
    position: relative;
}

.main-coffee_shop-price-product_name::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #BB945F;
    position: absolute;
    top: 20.5px;
    left: 256px;
}

.main-coffee_shop-price-product_cost-wrapp {
    width: 239.35px;
}

.main-coffee_shop-price-product_cost {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 40px 220px 0;
}

.main-our_contacts-wrapp {
    display: flex;
    margin-top: 61px;
    justify-content: space-between;
}

.main-our_contacts-numbers-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.main-our_contacts-numbers-description {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.main-our_contacts-numbers-subtitle {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 20pxgit;
}

.footer {
    background-color: black;
    height: 20px;
}