@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    
}

.header-wrapped-nav {
    display: flex;
    justify-content: space-between;
    background-color: #0C0C0E;
    padding: 20px 0;
}

.header-wrapped-nav-h1 {
    text-align: center;
    position: relative;
    z-index: 5;
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-left: 20px;
}

.header-wrapped-nav-ul {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.header-ul {
    list-style: none;
    display: flex;
}

.header-ul-li {
    margin-right: 30px;
}

.header-ul-li-a {
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    text-decoration: none;
    transition-duration: 300ms;
    cursor: pointer;
}

.header-ul-li-a:hover {
    opacity: 50%;
    transition-duration: 300ms;
}

.header-ul-li-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition-duration: 300ms;
}

.header-ul-li-img:hover {
    background-color: #BB945F;
}


.header-burger_menu-button {
    display: none;
}

@media (max-width: 1024px) {
    .header-nav {
        position: absolute;
        top: -100%;
        right: 0;
        width: 332px;
        height: 570px;
        background-color: #0C0C0E;;
        transition-duration: 700ms;
    }

    .header-nav.active {
        top: 0;
        height: 570px;
    }

    .header-ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 100px;
    }

    .header-ul-li {
       z-index: 1;
    }
    
    .header-ul-li-img {
        position: relative;
        z-index: 4;
    }

    .header-burger_menu-button {
        display: block;
        position: relative;
        width: 45px;
        height: 20px;
        margin-left: 40px;
        z-index: 2;
    }

    .header-burger_menu-button span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
        transition-duration: 300ms;
    }

    .header-burger_menu-button::before, .header-burger_menu-button::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition-duration: 300ms;
    }
    .header-burger_menu-button::before {
        top: 0;
    }
    .header-burger_menu-button::after {
        bottom: 0;
    }

    .header-burger_menu-button.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger_menu-button.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger_menu-button.active span {
        transform: scale(0);
    }
}

.header-welcome {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.header-welcome-overlay {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    height: 300px;
}

.header-welcome-p-wrapped {
    padding-top: 220px;
}

.header-welcome-paragraph {
    text-align: center;
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #0C0C0E;
    border: 35px solid #0C0C0E;
    max-width: 520px;
    height: 150px;
    transition-duration: 300ms;
}

@media (max-width: 820px) {
    .header-welcome-paragraph.active {
        max-width: 380px;
        height: 110px;
        border: 25px solid #0C0C0E;
        font-size: 30px;
        line-height: 37.5px; /* 125% */
    }
}

@media (max-width: 700px) {
    .header-welcome-paragraph.active {
        max-width: 300px;
        height: 95px;
        border: 15px solid #0C0C0E;
        font-size: 25px;
        line-height: 31.25px; /* 125% */
    }
}

.title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.title::after {
    content: "";
    height: 1px;
    width: 50px;
    top: 60px;
    right: 48%;
    background: #0C0C0E;
    position: absolute;
}

.main-about-description {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    margin: 60px 20px 0
}

.main-about-img {
    max-height: 560px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1440px;
    position: relative;
    
}

.main-about-img-button {
    border: none;
    list-style: none;
    background-color: rgb(255, 255, 255, 0);
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 962px) {
    .main-about-img-button {
        display: inline-flex;
        justify-content: space-between;
        justify-content: center;
    }

    .main-about-img-button.left {
        align-self: center;
        
    }

    .main-about-img-button.right {
        align-self: center;
    }

    .main-about-img-button-icon {
        padding: 5px;

    }
}

.main-about-img_1 {
    max-width: 450px;
}

.main-about-img_2 {
    max-width: 450px;
}

@media (max-width: 962px) {
    .main-about-img_2 {
        display: none;
    }
}

.main-about-img_3 {
    max-width: 450px;
}

@media (max-width: 1399px) {
    .main-about-img_3 {
        display: none;
    }
}

.main-about-img_4 {
    display: none;
    max-width: 450px;
}

@media (max-width: 1400px) {
    .main-about-img_4 {
        display: none;
    }
}

.main-about-img_5 {
    display: none;
    max-width: 450px;
}

@media (max-width: 1400px) {
    .main-about-img_5 {
        display: none;
    }
}

.main-about-circle {
    width: 68px;
    height: 16px;
    margin: 40px auto 0px;
    display: flex;
    justify-content: space-between;
}

.main-about-circle-button {
    cursor: pointer;
    transition-duration: 300ms;
}

.main-about-circle-button:hover {
    transform: scale(1.3);
}

.main-about-circle_1 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #BB945F;
}

.main-about-circle_2 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.main-about-circle_3 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.main-about-circle_4 {
    display: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.main-about-circle_5 {
    display: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

@media (max-width: 1399px) {
    .main-about-circle {
        width: 92px;
        height: 16px;
        margin: 40px auto 0px;
        display: flex;
        justify-content: space-between;
    }

    .main-about-circle_4 {
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: #0C0C0E;
    }
}

@media (max-width: 962px) {
    .main-about-circle {
        width: 120px;
        height: 16px;
        margin: 27px auto;
        padding-bottom: 31px;
        display: flex;
        justify-content: space-between;
    }

    .main-about-circle_5 {
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: #0C0C0E;
    }
}

.main-favorites-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 61px 0 40px 20px;
}


.main-favorites-input {
    accent-color: #000;
    cursor: pointer;
    height: 17px;
    width: 17px;
    transition-duration: 300ms;
    margin-right: 20px; 
}

.main-favorites-label {
    cursor: pointer;
}

.main-favorites-input-text {
    display: inline-block;
    width: 80px;
}

.main-favorites-label.winter {
    padding: 11px 0 10px 0;
    margin-right: 77px;
}

.main-favorites-label.spring {
    padding: 11px 0 10px 0;
    margin-right: 77px;
}

.main-favorites-label.summer {
    padding: 11px 0 10px 0;
    margin-right: 77px;
}

.main-favorites-label.autumn {
    padding: 11px 0px 10px;
}

.main-favorites-input + span {
    transition-duration: 300ms;
    font-size: 20px;
}

.main-favorites-input:hover + span {
    opacity: 50%;
}

.main-favorites-input:checked + span {
    font-weight: 700;
    opacity: 100%;
}

.main-favorites-input:first-child {
    margin-left: 20px;
}

@media (max-width: 805px) {
    .main-favorites-input-text {
        display: inline-block;
        width: 55px;
    }
}

@media (max-width: 725px) {
    .main-favorites-input-text {
        display: inline-block;
        width: 25px;
    }
}

.main-favorites-staff_picks-wrapp {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    margin-right: 40px;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 1204px) {
    .main-favorites-staff_picks-wrapp {
        display: flex;
        justify-content: center;
    }
}

.main-favorites-staff_picks {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
}

.main-favorites-staff_picks.winter {
    display: initial;
}

.main-favorites-staff_picks.spring {
    display: none;
}

.main-favorites-staff_picks.summer {
    display: none;
}

.main-favorites-staff_picks.autumn {
    display: none;
}

.main-favorites-staff_picks-title {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0 20px 20px;
    position: relative;
}

.main-favorites-staff_picks-title::after {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    background: #BB945F;
    top: 40px;
    left: 0px;
}

.main-favorites-staff_picks-book_name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}

.main-favorites-staff_picks-book_author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.main-favorites-staff_picks-book_description {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    width: 355px;
}

.main-favorites-staff_picks-book_buy {
    list-style: none;
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    position: absolute;
    bottom: 15px;
    transition-duration: 500ms;
    cursor: pointer;
}

.main-favorites-staff_picks-book_buy:hover {
    transform: scale(1.3);
    background: #BB945F;
}

.main-favorites-staff_picks-book_buy:active {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    transition-duration: 200ms;
}

.main-favorites-staff_picks-book_image {
    position: absolute;
    bottom: -1px;
    right: -40px;
    width: 200px;
    height: 300px;
}

.main-favorites-staff_picks-book_buy_4 {
    list-style: none;
    width: 75px;
    height: 30px;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #BB945F;
    position: absolute;
    bottom: 15px;
}

.main-coffee_shop-title {
    margin-top: 52px;
}

.main-coffee_shop-description {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 61px;
    padding: 0 20px;
}

.main-coffee_shop-price-title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}

.main-coffee_shop-price-wrapp {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 40px;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .main-coffee_shop-price-wrapp {
        display: block;
    }

    .main-coffee_shop-price.adaptive-tea {
        display: flex;
        flex-direction: column;
    }

    .main-coffee_shop-price.adaptive-desserts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .main-coffee_shop-price-title.desserts {
        margin-top: 0px;
    }
}

.main-coffee_shop-price-product-wrapp {
    display: flex;
}

.main-coffee_shop-price-product_name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 40px 0;
    position: relative;
}

.main-coffee_shop-price-product_name::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #BB945F;
    position: absolute;
    top: 20.5px;
    left: 256px;
}

.main-coffee_shop-price-product_cost-wrapp {
    width: 239.35px;
}

.main-coffee_shop-price-product_cost {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 40px 220px 0;
}

.main-our_contacts-title {
    margin-top: -20px;
}

.main-our_contacts-wrapp {
    display: flex;
    margin-top: 61px;
    justify-content: space-between;
    padding: 0px 20px 40px 20px;
    flex-wrap: wrap;
    gap: 80px;
}

.main-our_contacts-numbers-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.main-our_contacts-numbers-description {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.main-our_contacts-numbers-description-link {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transition-duration: 300ms;
}

.main-our_contacts-numbers-description-link:hover {
    color: #BB945F;
}

.main-our_contacts-numbers-subtitle {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-our_contacts-map_size {
    width: 696px; 
    height: 414px;
}

@media (max-width: 734px) {
    .main-our_contacts-map_size {
        width: 596px;
    }
}

@media (max-width: 1024px) {
    .main-our_contacts-map {
        display: block;
        margin: 0 auto;
    }
}

.main-cards-wrapp {
    display: flex;
    justify-content: space-between;
    margin: 61px 20px 40px;
}

.main-cards-check_card-title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
}

.main-cards-check_card-border {
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    margin-top: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-cards-check_card-border-background {
    width: 560px;
    height: 272px;
    background: #BB945F;
    margin: 20px 20px 94px 20px;
    position: relative;
}

.main-cards-check_card-border-background-subtitle {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding: 20px 0 20px 20px;
}

.main-cards-check_card-border-background-input {
    width: 500px;
    height: 66px;
    margin-left: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: #FFF;
    outline: none;
    color: #BB945F;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    padding-left: 20px;
}

.main-cards-check_card-border-background-input::placeholder {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.main-cards-check_card-border-button {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #FFF;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transition-duration: 300ms;
    position: absolute;
    content: '';
    top: 300px;
    right: 164px;
    cursor: pointer;
}

.main-cards-check_card-border-button:hover {
    background-color: #BB945F;
}

.main-cards-check_card-border-button:active {
    border: #BB945F;
}

.main-cards-authorization-title {
    color: #000;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.main-cards-authorization-description {
    width: 456px;
    margin-top: 35px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
}

.main-cards-authorization-button-wrapp {
    display: flex;
    justify-content: end;
    margin-right: -20px;
}

.main-cards-authorization-button {
    margin: 35px 20px 0 0;
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition-duration: 300ms;
    background-color: #FFF;
    cursor: pointer;
}

.main-cards-authorization-button:hover {
    background-color: #BB945F;
}

.main-cards-authorization-button:active {
    border: #BB945F;
}

@media (max-width: 1130px) {
    .main-cards-wrapp {
        display: block;
    }

    .main-cards-check_card-border {
        margin: 27px auto 10px;
    }

    .main-cards-authorization-title {
        text-align: center;
    }

    .main-cards-authorization-description {
        text-align: center;
        width: 600px;
        margin: 40px auto 8px;
    }

    .main-cards-authorization-button-wrapp {
        justify-content: center;
        align-items: center;
    }
}


.footer-wrapp {
    background-color: #0C0C0E;
    height: 250px;
}

.footer-address-wrapp {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
    padding: 23px 0 0 0;
}

.footer-address-description {
    width: 229px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.footer-address-description-link {
    text-decoration: none;
    color: #FFF;
    transition-duration: 300ms;
    cursor: pointer;
}

.footer-address-description-link:hover {
    opacity: 50%;
}

.footer-address-description-link:active {
    color: #BB945F;
}

.footer-address-work_time {
    width: 149px;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.footer-link-wrapp {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 21px 0;
}

.footer-link {
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: space-between;
    margin-top: 18px;
}

.footer-link-ul {
    display: flex;
    list-style: none;
}

.footer-link-ul-li {
    margin-right: 15px;
}

.footer-link-ul-li-a {
    cursor: pointer;
}

.footer-link-icon {
    width: 24px;
    height: 24px;
    transition-duration: 1.5s;
}

.footer-link-icon:hover {
    transition-duration: 1.5s;
    transform: scale(1.4) rotate(360deg);
}

.footer-link-output_time {
    width: 149px;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-top: 10px;
}

.footer-line {
    max-width: 1400px;
    height: 1px;
    margin: 29px 20px 44px;
    background: #FFF;
}

.footer-author-wrapp {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px
}

.footer-author-year {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.footer-author-rs_school {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.footer-author-rs_school-link {
    text-decoration: none;
    list-style: none;
    color: #FFF;
    transition-duration: 300ms;
    cursor: pointer;
}

.footer-author-rs_school-link:hover {
    opacity: 50%;
}

.footer-author-rs_school-link:active {
    color: #BB945F;
}

.footer-author-github_username {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    margin-top: -9px;
}

.footer-author-github_username-link {
    text-decoration: none;
    list-style: none;
    color: #FFF;
    transition-duration: 300ms;
    cursor: pointer;
}

.footer-author-github_username-image_wrapp {
    display: flex;
}

.footer-author-github_username-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-author-github_username-link:hover {
    opacity: 50%;
}

.footer-author-github_username-link:active {
    color: #BB945F;
}